<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Facts App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Food Facts Search</h1>
    <form id="food-form">
        <input type="text" name="food_name" id="food-input" placeholder="Enter food item" required>
        <button type="submit">Search</button>
    </form>
    <div id="food-details"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
